body {
    display: flex;
    min-height: 100vh;
    margin: 0;
}
#sidebar {
    width: 180px;
    height: 100vh;
    background-color: #f8f9fa;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}
main {
    margin-left: 280px;
    padding: 20px;
    flex-grow: 1;
}

.material-symbols-outlined {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 20px;
}
