<!DOCTYPE html>
<html lang="it-IT">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="/static/sidebar.css" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>Gestionale Paracadutismo - Impostazioni</title>
  </head>
  <body class="m-2" x-data="{ sys_op: true, utenze: false, para: false, pilot: false, stili: false }">
    <script src="/static/sidebar.js"></script>
    <script src="/static/impostazioni.js"></script>
    <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;" x-data="sidebarData()" id="sidebar">
      <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
        <strong><span class="fs-4">Impostazioni</span></strong>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a class="nav-link" :class="{ 'active': sys_op }" @click="sys_op = true; utenze = false; para = false; pilot = false; stili = false">
            <span class="material-symbols-outlined">dns</span> System Option
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" :class="{ 'active': utenze }" @click="sys_op = false; utenze = true; para = false; pilot = false; stili = false">
            <span class="material-symbols-outlined">group</span> Utenze, Gruppi e API
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" :class="{ 'active': para }" @click="sys_op = false; utenze = false; para = true; pilot = false; stili = false">
            <span class="material-symbols-outlined">paragliding</span> Paracadutisti
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" :class="{ 'active': pilot }" @click="sys_op = false; utenze = false; para = false; pilot = true; stili = false">
            <span class="material-symbols-outlined">travel</span> Piloti e Aerei
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" :class="{ 'active': stili }" @click="sys_op = false; utenze = false; para = false; pilot = false; stili = true">
            <span class="material-symbols-outlined">sports_martial_arts</span> Discipline e Formazioni
          </a>
        </li>
      </ul>
      <hr>
      <a class="btn btn-sm btn-primary" href="{{ url_for("dashboard") }}"><span class="material-symbols-outlined">arrow_back</span></a>
    </div>
    <main>

<div id="sys_op" x-show="sys_op">
  <h4 class="text-center">System Option</h4>
  <form  x-data="system_optionForm()" @submit.prevent="submitForm" x-init="loadData()">
    <button type="button" class="btn btn-sm btn-primary" @click=loadData() id="refresh_sys"><span class="material-symbols-outlined">refresh</span></button>
    <button type="button" class="btn btn-sm btn-primary" @click=submitForm() id="upgrade_sys" :disabled="formLoading"><span class="material-symbols-outlined">upgrade</span></button>
    <div class="mt-2">
      <table class="table table-sm table-responsive">
        <tbody>
          <tr>
            <th scope="row">Nome della Scuola</th>
            <td><input type="text" class="form-control" id="nome" x-model="formData.nome_scuola"></td>
          </tr>
          <tr>
            <th scope="row">Identificativo ENAC</th>
            <td><input type="text" class="form-control" id="nome" x-model="formData.id_enac"></td>
          </tr>
          <tr>
            <th scope="row">Nome Direttore</th>
            <td><input type="text" class="form-control" id="nome" x-model="formData.nome_direttore"></td>
          </tr>
          <tr>
            <th scope="row">Cognome Direttore</th>
            <td><input type="text" class="form-control" id="nome" x-model="formData.cognome_direttore"></td>
          </tr>
          <tr>
            <th scope="row">SMTP Server</th>
            <td><input type="text" class="form-control" id="nome" x-model="formData.smtp_server"></td>
          </tr>
          <tr>
            <th scope="row">SMTP Port</th>
            <td><input type="text" class="form-control" id="nome" x-model="formData.smtp_port"></td>
          </tr>
          <tr>
            <th scope="row">Indirizzo Mail</th>
            <td><input type="text" class="form-control" id="nome" x-model="formData.mail_indirizzo"></td>
          </tr>
          <tr>
            <th scope="row">Password Mail</th>
            <td><input type="text" class="form-control" id="nome" x-model="formData.mail_passwd"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>

<div id="utenze" x-show="utenze">
  <h4 class="text-center">Utenze, Gruppi e API</h4>
</div>

<div id="para" x-show="para" x-data="paracadutisti()">
  <h4 class="text-center">Paracadutisti</h4>
  <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#paraModal" data-bs-paraid="">Aggiungi</button>
  <button type="button" class="btn btn-sm btn-primary" @click=refreshPara() id="refresh_para"><span class="material-symbols-outlined">refresh</span></button>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Cognome</th>
        <th scope="col">Licenza</th>
        <th scope="col">Visita</th>
        <th scope="col">DL</th>
        <th scope="col">Videoman</th>
        <th scope="col">IP AFF</th>
        <th scope="col">IP Tandem</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <template x-for="i in elenco_para.response">
          <tr>
            <th scope="row" x-text="i.id"></th>
            <td x-text="i.nome"></td>
            <td x-text="i.cognome"></td>
            <template x-if="i.licenza.numero === ''">
                <td></td>
            </template>
            <template x-if="i.licenza.numero !== ''">
                <td x-text="new Date(i.licenza.scadenza).toLocaleDateString('it-IT')"></td>
            </template>
            <td x-text="new Date(i.visita).toLocaleDateString('it-IT')"></td>
            <template x-if="i.licenza.dl">
            <td><span class="material-symbols-outlined">check</span></td>
            </template>
            <template x-if="!i.licenza.dl">
            <td></td>
            </template>
            <template x-if="i.videoman">
            <td><span class="material-symbols-outlined">check</span></td>
            </template>
            <template x-if="!i.videoman">
            <td></td>
            </template>
            <template x-if="i.licenza.ip.aff">
            <td><span class="material-symbols-outlined">check</span></td>
            </template>
            <template x-if="!i.licenza.ip.aff">
            <td></td>
            </template>
            <template x-if="i.licenza.ip.td">
            <td><span class="material-symbols-outlined">check</span></td>
            </template>
            <template x-if="!i.licenza.ip.td">
            <td></td>
            </template>
            <td>
            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#paraModal" x-bind:data-bs-paraid="i.id"><span class="material-symbols-outlined">edit</span></button>
            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#paraDeleteModal" x-bind:data-bs-paraid="i.id"><span class="material-symbols-outlined">delete</span></button>
            </td>
          </tr>
        </template>
    </tbody>
  </table>
</div>

<div id="piloti" x-show="pilot" x-data="{ piloti: true, aerei: false }">
  <h4 class="text-center">Piloti e Aerei</h4>
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" :class="{ 'active': piloti }" @click="piloti = true; aerei = false">Piloti</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" :class="{ 'active': aerei }" @click="piloti = false; aerei = true">Aerei</a>
    </li>
  </ul>

  <div id="pilot" x-show="piloti" class="mt-2" x-data="pilots()">
  <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#pilotiModal" data-bs-paraid="">Aggiungi</button>
  <button type="button" class="btn btn-sm btn-primary" @click=refreshPiloti() id="refresh_piloti"><span class="material-symbols-outlined">refresh</span></button>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Cognome</th>
        <th scope="col">Licenza</th>
        <th scope="col">Visita</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <template x-for="i in elenco_piloti.response">
          <tr>
            <th scope="row" x-text="i.id"></th>
            <td x-text="i.nome"></td>
            <td x-text="i.cognome"></td>
            <td x-text="new Date(i.licenza.scadenza).toLocaleDateString('it-IT')"></td>
            <td x-text="new Date(i.visita).toLocaleDateString('it-IT')"></td>
            <td>
            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#pilotiModal" x-bind:data-bs-pilotaid="i.id"><span class="material-symbols-outlined">edit</span></button>
            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#pilotiDeleteModal" x-bind:data-bs-pilotaid="i.id"><span class="material-symbols-outlined">delete</span></button>
            </td>
          </tr>
        </template>
    </tbody>
  </table>
  </div>

  <div id="aerei" x-show="aerei" class="mt-2" x-data="planes()">
  <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#aereiModal" data-bs-paraid="">Aggiungi</button>
  <button type="button" class="btn btn-sm btn-primary" @click=refreshAerei() id="refresh_aerei"><span class="material-symbols-outlined">refresh</span></button>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Posti</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <template x-for="i in elenco_aerei.response">
          <tr>
            <th scope="row" x-text="i.id"></th>
            <td x-text="i.nome"></td>
            <td x-text="i.posti"></td>
            <td>
            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#aereiModal" x-bind:data-bs-aereoid="i.id"><span class="material-symbols-outlined">edit</span></button>
            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#aereiDeleteModal" x-bind:data-bs-aereoid="i.id"><span class="material-symbols-outlined">delete</span></button>
            </td>
          </tr>
        </template>
    </tbody>
  </table>
  </div>

</div>

<div id="stili" x-show="stili" x-data="{ discipline: true, formazioni: false }">
  <h4 class="text-center">Discipline e Formazioni</h4>
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" :class="{ 'active': discipline }" @click="discipline = true; formazioni = false">Discipline</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" :class="{ 'active': formazioni }" @click="discipline = false; formazioni = true">Formazioni</a>
    </li>
  </ul>

  <div id="disciplin" x-show="discipline" class="mt-2" x-data="styles()">
  <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#disciplineModal" data-bs-paraid="">Aggiungi</button>
  <button type="button" class="btn btn-sm btn-primary" @click=refreshDiscipline() id="refresh_discipline"><span class="material-symbols-outlined">refresh</span></button>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Tipo</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <template x-for="i in elenco_discipline.response">
          <tr>
            <th scope="row" x-text="i.id"></th>
            <td x-text="i.nome"></td>
            <td x-text="i.tipo"></td>
            <td>
            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#disciplineModal" x-bind:data-bs-disciplinaid="i.id"><span class="material-symbols-outlined">edit</span></button>
            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#disciplineDeleteModal" x-bind:data-bs-disciplinaid="i.id"><span class="material-symbols-outlined">delete</span></button>
            </td>
          </tr>
        </template>
    </tbody>
  </table>
  </div>

  <div id="formaz" x-show="formazioni" class="mt-2" x-data="groups()">
  <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#formazioniModal" data-bs-paraid="">Aggiungi</button>
  <button type="button" class="btn btn-sm btn-primary" @click=refreshFormazioni() id="refresh_formazioni"><span class="material-symbols-outlined">refresh</span></button>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Disciplina</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <template x-for="i in elenco_formazioni.response">
          <tr>
            <th scope="row" x-text="i.id"></th>
            <td x-text="i.nome"></td>
            <td x-text="i.disciplina"></td>
            <td>
            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#formazioniModal" x-bind:data-bs-formazioneid="i.id"><span class="material-symbols-outlined">edit</span></button>
            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#formazioniDeleteModal" x-bind:data-bs-formazioneid="i.id"><span class="material-symbols-outlined">delete</span></button>
            </td>
          </tr>
        </template>
    </tbody>
  </table>
  </div>
</div>

    </main>

    <div class="modal fade" id="paraModal" tabindex="-1" aria-labelledby="paraModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="paraModalLabel">Paracadutista</h1>
          </div>
          <div class="modal-body mx-2">
            <form  x-data="paracadutistiForm()" @submit.prevent="submitForm">
              <input type="text" class="form-control" hidden id="para_id" x-model="formData.para_id">
              <div class="mb-3 row">
                <div class="col">
                  <label for="nome" class="form-label">Nome</label>
                  <input type="text" class="form-control" id="nome" x-model="formData.nome">
                </div>
                <div class="col">
                  <label for="cognome" class="form-label">Cognome</label>
                  <input type="text" class="form-control" id="cognome" x-model="formData.cognome">
                </div>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="licenza" x-model="formData.licenza">
                <label class="form-check-label" for="licenza">Licenza</label>
              </div>
              <div class="mb-3 row" x-show="formData.licenza">
                <div class="col">
                  <label for="num_licenza" class="form-label">Numero Licenza</label>
                  <input type="text" class="form-control" id="num_licenza" x-model="formData.num_licenza">
                </div>
                <div class="col">
                  <label for="scad_licenza" class="form-label">Scadenza Licenza</label>
                  <input type="date" class="form-control" id="scad_licenza" x-model="formData.scad_licenza">
                </div>
              </div>
              <div class="mb-3 row" x-show="formData.licenza">
                <div class="mb-3 form-check col">
                  <input type="checkbox" class="form-check-input" id="dl" x-model="formData.dl">
                  <label class="form-check-label" for="dl">CS-DL</label>
                </div>
                <div class="mb-3 form-check col">
                  <input type="checkbox" class="form-check-input" id="videoman" x-model="formData.videoman">
                  <label class="form-check-label" for="videoman">Videoman</label>
                </div>
                <div class="mb-3 form-check col">
                  <input type="checkbox" class="form-check-input" id="ip" x-model="formData.ip">
                  <label class="form-check-label" for="ip">IP</label>
                </div>
              </div>
                <div class="mb-3" x-show="formData.ip">
                  <label for="scad_ip" class="form-label">Scadenza IP</label>
                  <input type="date" class="form-control" id="scad_ip" x-model="formData.scad_ip">
                </div>
              <div class="mb-3 row" x-show="formData.ip">
                <div class="mb-3 form-check col">
                  <input type="checkbox" class="form-check-input" id="ip_aff" x-model="formData.ip_aff">
                  <label class="form-check-label" for="ip_aff">IP AFF</label>
                </div>
                <div class="mb-3 form-check col">
                  <input type="checkbox" class="form-check-input" id="ip_td" x-model="formData.ip_td">
                  <label class="form-check-label" for="ip_td">IP Tandem</label>
                </div>
              </div>
              <div class="mb-3">
                <label for="visita" class="form-label">Scadenza Visita Medica</label>
                <input type="date" class="form-control" id="visita" x-model="formData.visita">
              </div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
              <button type="submit" class="btn btn-primary" :disabled="formLoading" data-bs-dismiss="modal">Conferma</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="paraDeleteModal" tabindex="-1" aria-labelledby="paraDeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="paraDeleteModalLabel">Elimina Paracadutista</h1>
          </div>
          <div class="modal-body mx-2">
            <form  x-data="paracadutistiDeleteForm()" @submit.prevent="submitForm">
              <input type="text" class="form-control" hidden id="para_id" x-model="formData.para_id">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
              <button type="submit" class="btn btn-danger" :disabled="formLoading" data-bs-dismiss="modal">Elimina</button>
            </form>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="pilotiModal" tabindex="-1" aria-labelledby="pilotiModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="pilotiModalLabel">Pilota</h1>
          </div>
          <div class="modal-body mx-2">
            <form  x-data="pilotiForm()" @submit.prevent="submitForm">
              <input type="text" class="form-control" hidden id="pilota_id" x-model="formData.pilota_id">
              <div class="mb-3 row">
                <div class="col">
                  <label for="nome" class="form-label">Nome</label>
                  <input type="text" class="form-control" id="nome" x-model="formData.nome">
                </div>
                <div class="col">
                  <label for="cognome" class="form-label">Cognome</label>
                  <input type="text" class="form-control" id="cognome" x-model="formData.cognome">
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col">
                  <label for="num_licenza" class="form-label">Numero Licenza</label>
                  <input type="text" class="form-control" id="num_licenza" x-model="formData.num_licenza">
                </div>
                <div class="col">
                  <label for="scad_licenza" class="form-label">Scadenza Licenza</label>
                  <input type="date" class="form-control" id="scad_licenza" x-model="formData.scad_licenza">
                </div>
              </div>
              <div class="mb-3">
                <label for="visita" class="form-label">Scadenza Visita Medica</label>
                <input type="date" class="form-control" id="visita" x-model="formData.visita">
              </div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
              <button type="submit" class="btn btn-primary" :disabled="formLoading" data-bs-dismiss="modal">Conferma</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="pilotiDeleteModal" tabindex="-1" aria-labelledby="pilotiDeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="pilotiDeleteModalLabel">Elimina Pilota</h1>
          </div>
          <div class="modal-body mx-2">
            <form  x-data="pilotiDeleteForm()" @submit.prevent="submitForm">
              <input type="text" class="form-control" hidden id="pilota_id" x-model="formData.pilota_id">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
              <button type="submit" class="btn btn-danger" :disabled="formLoading" data-bs-dismiss="modal">Elimina</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="aereiModal" tabindex="-1" aria-labelledby="aereiModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="aereiModalLabel">Aereo</h1>
          </div>
          <div class="modal-body mx-2">
            <form  x-data="aereiForm()" @submit.prevent="submitForm">
              <input type="text" class="form-control" hidden id="aereo_id" x-model="formData.aereo_id">
              <div class="mb-3">
                  <label for="nome" class="form-label">Nome</label>
                  <input type="text" class="form-control" id="nome" x-model="formData.nome">
                  <label for="posti" class="form-label">Posti</label>
                  <input type="number" class="form-control" id="posti" x-model="formData.posti">
              </div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
              <button type="submit" class="btn btn-primary" :disabled="formLoading" data-bs-dismiss="modal">Conferma</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="aereiDeleteModal" tabindex="-1" aria-labelledby="aereiDeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="aereiDeleteModalLabel">Elimina Aereo</h1>
          </div>
          <div class="modal-body mx-2">
            <form  x-data="aereiDeleteForm()" @submit.prevent="submitForm">
              <input type="text" class="form-control" hidden id="aereo_id" x-model="formData.aereo_id">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
              <button type="submit" class="btn btn-danger" :disabled="formLoading" data-bs-dismiss="modal">Elimina</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="disciplineModal" tabindex="-1" aria-labelledby="disciplineModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="disciplineModalLabel">Disciplina</h1>
          </div>
          <div class="modal-body mx-2">
            <form  x-data="disciplineForm()" @submit.prevent="submitForm">
              <input type="text" class="form-control" hidden id="style_id" x-model="formData.style_id">
              <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" x-model="formData.nome">
              </div>
              <div class="mb-3 row">
                <label class="form-label">Tipo di Lancio</label>
                <div class="mb-3 form-check col">
                  <input type="radio" class="form-check-input" id="vincolato" value="vincolato" x-model="formData.tipo">
                  <label class="form-check-label" for="vincolato">Vincolato</label>
                </div>
                <div class="mb-3 form-check col">
                  <input type="radio" class="form-check-input" id="orizzontale" value="orizzontale" x-model="formData.tipo">
                  <label class="form-check-label" for="orizzontale">Orizzonale (caduta libera lenta)</label>
                </div>
                <div class="mb-3 form-check col">
                  <input type="radio" class="form-check-input" id="verticale" value="verticale" x-model="formData.tipo">
                  <label class="form-check-label" for="verticale">Verticale (caduta libera veloce)</label>
                </div>
                <div class="mb-3 form-check col">
                  <input type="radio" class="form-check-input" id="wingsuit" value="wingsuit" x-model="formData.tipo">
                  <label class="form-check-label" for="wingsuit">Tuta Alare</label>
                </div>
              </div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
              <button type="submit" class="btn btn-primary" :disabled="formLoading" data-bs-dismiss="modal">Conferma</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="disciplineDeleteModal" tabindex="-1" aria-labelledby="disciplineDeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="disciplineDeleteModalLabel">Elimina Disciplina</h1>
          </div>
          <div class="modal-body mx-2">
            <form  x-data="disciplineDeleteForm()" @submit.prevent="submitForm">
              <input type="text" class="form-control" hidden id="style_id" x-model="formData.style_id">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
              <button type="submit" class="btn btn-danger" :disabled="formLoading" data-bs-dismiss="modal">Elimina</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="formazioniModal" tabindex="-1" aria-labelledby="formazioniModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="formazioniModalLabel">Formazione</h1>
          </div>
          <div class="modal-body mx-2">
            <form  x-data="formazioniForm()" @submit.prevent="submitForm">
              <input type="text" class="form-control" hidden id="group_id" x-model="formData.group_id">
              <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" x-model="formData.nome">
              </div>
              <div class="mb-3">
                <label for="disciplina_lancio" class="form-label">Nome</label>
                <select class="form-select" id="disciplina_lancio" x-model="formData.disciplina">
                  <template x-for="i in elenco_discipline" :key="i.id">
                    <option :value="i.id" x-text="i.nome"></option>
                  </template>
                </select>
              </div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
              <button type="submit" class="btn btn-primary" :disabled="formLoading" data-bs-dismiss="modal">Conferma</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="formazioniDeleteModal" tabindex="-1" aria-labelledby="formazioniDeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="formazioniDeleteModalLabel">Elimina Formazione</h1>
          </div>
          <div class="modal-body mx-2">
            <form  x-data="formazioniDeleteForm()" @submit.prevent="submitForm">
              <input type="text" class="form-control" hidden id="group_id" x-model="formData.group_id">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
              <button type="submit" class="btn btn-danger" :disabled="formLoading" data-bs-dismiss="modal">Elimina</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
